
.navbar{
  position: fixed;
  display: flex;
  justify-content: space-between;
  top:0;
  width: 560px;
  background-color: #1b1a1a;
  height: 100px;
  left: 50%;
  padding: 15px 30px;
  padding-bottom: 10px;
  transform: translateX(-50%);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: white;
}
